.photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.photo__item {
    height: 200px;
    width: 302px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    animation-name: animate;
    animation-duration: 2s;
    overflow: hidden;
    position: relative;
}
.__thumb img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    } 
.user {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.user__icon {
    height: 36px;
    width: 36px;
    margin-right: 10px;
}
.user__desc {
    font-size: 12px;
    font-weight: 500;
}
.user__desc--drkcolor {
    color: #00e2bd;
    margin-left: 2px;
    letter-spacing: normal;
    text-transform: capitalize;
}

@keyframes animate {
    from {opacity: 0.5;}
    to {opacity: 1;}
  }