
.home-wrapper .main-content-wrapper {
    width: 90%;
    max-width: 950px;
    margin: auto;
}


 .header {
    margin-top: 70px;

}
.header .header__title {
    color: #fff;
    margin: 0;
}

.header .title--big {
    font-size: 39px;
    font-weight: 600;
}
.header .title--small {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.header .title--margin {
    margin: 15px 0px 30px;
}
.searchtag {
    display: flex;
    align-items: center;
}

.header .search__label {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.search__tag {
    display: flex;
    font-weight: 500;
    font-size: 14px;
}
.search__tag .tag {
    margin-left: 27px;
    text-shadow: 0 0 #ffb000;
}

.searchbar {
    margin-top: 30px;
}
.main-content-wrapper .photo-list-wrapper {
    margin-top: 90px;
}

.main-content-wrapper .load-more-btn {
    display: flex;
    justify-content: center;
    margin: 70px 0;
    font-weight: 500;
}

.home-wrapper .error-msg-wrapper {
    padding: 70px 0;
    
}

.error-msg-wrapper .error-msg {
    background: #fff1e2;
    color: #f15a22;
    border: 1px solid #f15a22;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
