
/* Banner CSS */
.banner-wrapper {
    position: relative;
    width: 100%;
    z-index: -1;
}
.banner-wrapper .banner {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: lightblue;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0 100%);
}
.banner-wrapper .banner img {
    height: 100%;
    object-fit: cover;
}

/* Logo CSS */

.logo {
    color: #fff;
    padding: 60px 0;
    padding-top: 30px;
}
.logo span {
    font-size: 40px;
    font-weight: 500;
}
.logo span.dark-txt {
    color: #00bfb9;
}

/* mylabel CSS*/

.mylabel {
    color: #FFF;    
    display: block;
    font-size: 20px;
}



/* button CSS*/
.button {
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    background-color: #00bfb9;
    color: #fff;
    font-size: 15px;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}

/* tag  CSS*/
.tag {
    color: #ffb000;    
    display: block;
    font-size: inherit;
    margin-left: 25px;
    cursor: pointer;
}


/* closebtn CSS*/
.closebtn {
    height: 40px;
    width: 40px;
    background-color: #3b3b3b;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.closebtn::before,.closebtn::after {
    content: " ";
    height: 2px;
    width: 22px;
    background-color: #fff;
    position: absolute;
}

.closebtn::before {
    transform: rotate(45deg);
}
.closebtn::after {
    transform: rotate(-45deg);
}
.user-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;    
}
.user-icon img {
    height: 100%;
    width: 100%;
}